html {
    /*background-color: #00539f;*/
    text-align: center;
    justify-content: center;
    align-items: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: "Georgia", sans-serif;
}

h2 {
    font-family: "Tahoma", sans-serif;
}

form {
    display: inline-block;
    text-align: center;
    border: 3px solid #000;
    padding: 20px;
    box-sizing: border-box;
  }

form label {
    font-family: "Tahoma", sans-serif;
    font-size: 1.5em;
}

form button {
    font-family: "Tahoma", sans-serif;
    font-size: 1.35em;
    margin-top: 10px;
}