body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.picture {
  height:300px;
  width:auto;
  
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar li {
  padding: 5px 10px;
  background-color: #ccc;
}

.navbar li a {
  text-decoration: none;
  color:grey;
  font-size:50px;

}

.navbar li a:hover {
  color: #fff;
  background-color: #333;
}

.shift-right {
  margin-left: 30px;
}