/*css that is applied to entire website*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-color: #F3F8FD;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Georgia", sans-serif;
  color: #0B355F;
}

h2 {
  font-family: "Tahoma", sans-serif;
}

.picture {
  height:300px;
  width:auto;
  
}

.space {
  margin-top: 20px;
}

.bigspace {
  margin-top: 40px;
}

.box {
  display: inline-block;
  text-align: left;
  border: 3px solid #000;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ECF4FC;
}

.box2 {
  display: inline-block;
  text-align: center;
  border: 3px solid #000;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ECF4FC;
  width:700px;
}

.box3 {
  display: inline-block;
  text-align: center;
  border: 3px solid #000;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ECF4FC;
  width:400px;
}

form label {
  font-family: "Tahoma", sans-serif;
  font-size: 1.5em;
}

form button {
  font-family: "Tahoma", sans-serif;
  text-align: center;
  font-size: 1.35em;
  margin-top: 10px;
}

.blue {
  color: #0B355F;
}

/*css for navbar*/

.navbar {
  display: flex;
  justify-content: center;
  background-color: #0B355F;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar li {
  padding: 5px 10px;
  background-color: #C5DBF1;
}

.navbar li a {
  text-decoration: none;
  color:black;
  font-family: "Georgia", sans-serif;
  font-size:50px;

}

.navbar li a:hover {
  color: #fff;
  font-weight: bold;
  background-color: #0B355F;
}

/*css for login */
.field {
  display: block;
  width: 250px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}

.field::placeholder {
  font-size: 20px;
}

.or {
  margin: 0;
  padding: 7px;
}

.sign {
  font-size: 1.25em;
  background-color: #C5DBF1;
}

.google {
  font-size: 1.35em;
  background-color: #DBF7BF;
  color: #237E00;
}

.logout {
  display: inline;
  font-size: 1.35em;
  background-color: #FFCAC1;
}

.message {
  font-size: 1.35em;
}

/*css for userinfo*/

.header {
  color: #0B355F;
  font-size: 1.5em;
}

.black {
  display: inline-block;
  color: black;
}
.font-heading {
  font-size: 50px;
}

/*css for food and workout*/
.tag {
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    font-size: 1.3em;
    background-color: #C5DBF1;
}

.tag2 {
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    font-size: 1.3em;
    background-color: #C5DBF1;
}

.recipe {
    display: inline-block;
    text-align: left;
    border: 3px solid #000;
    padding: 20px;
    width:600px;
    box-sizing: border-box;
    background-color: #ECF4FC;
  }

.header {
    color: #0B355F;
    font-size: 1.4em;
}

.title {
    color: #0B355F;
    font-size: 1.5em;
    text-decoration: underline;
}

.text {
    font-size: 1.35em;
}

.color {
    background-color:#0B355F;
}

.color1 {
    background-color: #ECF4FC;
}






